<!DOCTYPE html>
<html>
  <head>
    <title>Café Sáng</title>
    <meta charset="UTF-8" />
    <meta name="description" content="News" />
    <meta name="keywords" content="News,Café Sáng" />
    <meta name="author" content="Hieu Doan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" name="cafe-sang" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div style="margin: 0 auto; max-width: 600px">
      <div style="padding: 1rem">
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <div style="padding: 1rem">
            <div style="text-align: center; margin-bottom: 1rem">
              <p style="margin-bottom: 0.5rem">YYYY-MM-DD</p>
              <p style="margin-bottom: 0.5rem">YYYY-MM-DD</p>
              <p style="margin-bottom: 0.5rem">Nam - Thang - Ngay (Tiet Khi)</p>
              <h1 style="text-transform: uppercase">Café Sáng</h1>
            </div>
            <div>
              <div
                style="
                  display: inline-block;
                  background-color: #4285f4;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 01
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #ea4335;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 02
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #fbbc05;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 03
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #34a853;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 04
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #4285f4;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 05
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #ea4335;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 06
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #fbbc05;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 07
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #34a853;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 08
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #4285f4;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 09
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #ea4335;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 10
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #fbbc05;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 11
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #34a853;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 12
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #4285f4;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 13
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #ea4335;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 14
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #fbbc05;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 15
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #34a853;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 16
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #4285f4;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 17
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #ea4335;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 18
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #fbbc05;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 19
                </a>
              </div>
              <div
                style="
                  display: inline-block;
                  background-color: #34a853;
                  padding: 0.25rem;
                  border-radius: 0.25rem;
                  margin-bottom: 0.25rem;
                  margin-right: 0.25rem;
                "
              >
                <a
                  href="https://google.com"
                  target="_blank"
                  style="
                    color: white;
                    text-decoration: none;
                    font-size: 0.75rem;
                  "
                >
                  Trend 20
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <table
            style="
              width: 100%;
              margin: 0;
              padding: 0;
              border-collapse: collapse;
            "
          >
            <caption
              style="
                text-align: center;
                padding: 1rem;
                border-bottom: 1px solid #e6e6e6;
              "
            >
              <h2>Weather</h2>
            </caption>
            <tbody>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  Now
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: center;
                  "
                >
                  <div><b>Main</b></div>
                  <div>Description 0</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <div><b>0°C</b></div>
                  <div>0°C</div>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div>YYYY-MM-DD</div>
                  <div>HH:MN</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: center;
                  "
                >
                  <div><b>Main</b></div>
                  <div>Description 1</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <div><b>0°C</b></div>
                  <div>0°C</div>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div>YYYY-MM-DD</div>
                  <div>HH:MN</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: center;
                  "
                >
                  <div><b>Main</b></div>
                  <div>Description 2</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <div><b>0°C</b></div>
                  <div>0°C</div>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div>YYYY-MM-DD</div>
                  <div>HH:MN</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: center;
                  "
                >
                  <div><b>Main</b></div>
                  <div>Description 3</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <div><b>0°C</b></div>
                  <div>0°C</div>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div>YYYY-MM-DD</div>
                  <div>HH:MN</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: center;
                  "
                >
                  <div><b>Main</b></div>
                  <div>Description 4</div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <div><b>0°C</b></div>
                  <div>0°C</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <table
            style="
              width: 100%;
              margin: 0;
              padding: 0;
              border-collapse: collapse;
            "
          >
            <caption
              style="
                text-align: center;
                padding: 1rem;
                border-bottom: 1px solid #e6e6e6;
              "
            >
              <h2>Coins</h2>
            </caption>
            <tbody>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div style="display: flex; align-items: center">
                    <img
                      src="https://cdn.coinranking.com/bOabBYkcX/bitcoin_btc.svg"
                      width="16px"
                      style="margin-right: 16px"
                    />
                    <a href="#" target="_blank" style="text-decoration: none">
                      BTC - Bitcoin
                    </a>
                  </div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <b>$1,000.00</b>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div style="display: flex; align-items: center">
                    <img
                      src="https://cdn.coinranking.com/bOabBYkcX/bitcoin_btc.svg"
                      width="16px"
                      style="margin-right: 16px"
                    />
                    <a href="#" target="_blank" style="text-decoration: none">
                      BTC - Bitcoin
                    </a>
                  </div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <b>$1,000.00</b>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div style="display: flex; align-items: center">
                    <img
                      src="https://cdn.coinranking.com/bOabBYkcX/bitcoin_btc.svg"
                      width="16px"
                      style="margin-right: 16px"
                    />
                    <a href="#" target="_blank" style="text-decoration: none">
                      BTC - Bitcoin
                    </a>
                  </div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <b>$1,000.00</b>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div style="display: flex; align-items: center">
                    <img
                      src="https://cdn.coinranking.com/bOabBYkcX/bitcoin_btc.svg"
                      width="16px"
                      style="margin-right: 16px"
                    />
                    <a href="#" target="_blank" style="text-decoration: none">
                      BTC - Bitcoin
                    </a>
                  </div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <b>$1,000.00</b>
                </td>
              </tr>
              <tr>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                  "
                >
                  <div style="display: flex; align-items: center">
                    <img
                      src="https://cdn.coinranking.com/bOabBYkcX/bitcoin_btc.svg"
                      width="16px"
                      style="margin-right: 16px"
                    />
                    <a href="#" target="_blank" style="text-decoration: none">
                      BTC - Bitcoin
                    </a>
                  </div>
                </td>
                <td
                  style="
                    padding: 0.75rem;
                    border-bottom: 1px solid #e6e6e6;
                    width: 33.33%;
                    text-align: right;
                  "
                >
                  <b>$1,000.00</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <div style="padding: 1rem 0; border-bottom: 1px solid #e6e6e6">
            <h2 style="text-align: center">Top Headlines</h2>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Image"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 1
              </a>
            </h3>
            <p style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Source 1
              </a>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              fringilla, velit nec accumsan viverra, nulla leo porta velit, at
              convallis nulla turpis et felis. Vestibulum neque tellus,
              dignissim ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet
              molestie enim nec mattis. Ut quis massa varius, hendrerit eros ut,
              sodales ante. Fusce.
            </p>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Image"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 2
              </a>
            </h3>
            <p style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Source 2
              </a>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              fringilla, velit nec accumsan viverra, nulla leo porta velit, at
              convallis nulla turpis et felis. Vestibulum neque tellus,
              dignissim ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet
              molestie enim nec mattis. Ut quis massa varius, hendrerit eros ut,
              sodales ante. Fusce.
            </p>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Image"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 3
              </a>
            </h3>
            <p style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Source 3
              </a>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              fringilla, velit nec accumsan viverra, nulla leo porta velit, at
              convallis nulla turpis et felis. Vestibulum neque tellus,
              dignissim ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet
              molestie enim nec mattis. Ut quis massa varius, hendrerit eros ut,
              sodales ante. Fusce.
            </p>
          </div>
        </div>
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <div style="padding: 1rem 0; border-bottom: 1px solid #e6e6e6">
            <h2 style="text-align: center">YouTube Trending</h2>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Thumbnail"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 1
              </a>
            </h3>
            <p>
              <a href="" target="_blank" style="text-decoration: none">
                Channel 1
              </a>
            </p>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Thumbnail"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 2
              </a>
            </h3>
            <p>
              <a href="" target="_blank" style="text-decoration: none">
                Channel 2
              </a>
            </p>
          </div>
          <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
            <img
              src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
              alt="Thumbnail"
              style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
            />
            <h3 style="margin-bottom: 0.5rem">
              <a href="" target="_blank" style="text-decoration: none">
                Title 3
              </a>
            </h3>
            <p>
              <a href="" target="_blank" style="text-decoration: none">
                Channel 3
              </a>
            </p>
          </div>
        </div>
        <div
          style="
            border-radius: 0.25rem;
            border: 1px solid #e6e6e6;
            margin-bottom: 1rem;
          "
        >
          <div style="padding: 1rem">
            <h2 style="text-align: center; margin-bottom: 1rem">
              Tarot of the Day
            </h2>
            <table>
              <tbody>
                <tr>
                  <td style="width: 33.33%">
                    <img
                      src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                      alt="Tarot"
                      style="width: 100%; border-radius: 0.25rem"
                    />
                  </td>
                  <td style="width: 33.33%">
                    <img
                      src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                      alt="Tarot"
                      style="width: 100%; border-radius: 0.25rem"
                    />
                  </td>
                  <td style="width: 33.33%">
                    <img
                      src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                      alt="Tarot"
                      style="width: 100%; border-radius: 0.25rem"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
