<!DOCTYPE html>
<html>
  <head>
    <title>Café Sáng</title>
    <meta charset="UTF-8" />
    <meta name="description" content="News" />
    <meta name="keywords" content="News,Café Sáng" />
    <meta name="author" content="Hieu Doan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" name="cafe-sang" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav
      style="
        background-color: #fff;
        margin-bottom: 1rem;
        box-shadow: rgb(36 50 66 / 8%) 0px 2px 12px 0px;
      "
    >
      <div style="margin: 0 auto; max-width: 670px; padding: 1rem">
        <h1 style="color: black">
          Café <span style="color: #ea4335">Sáng</span>
        </h1>
      </div>
    </nav>
    <div style="margin: 0 auto; max-width: 670px">
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <div style="padding: 1rem">
          <table style="width: 100%; border-collapse: collapse">
            <tbody>
              <tr>
                <td style="padding: 0 0 0.5rem">Month DD, YYYY</td>
                <td style="text-align: right">
                  <a href="#" target="_blank" style="text-decoration: none">
                    View Online
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="padding: 0 0 0.5rem">YYYY-MM-DD</td>
              </tr>
              <tr>
                <td colspan="2">Nam - Thang - Ngay (Tiet Khi)</td>
              </tr>
            </tbody>
          </table>
          <h1
            style="
              text-transform: uppercase;
              text-align: center;
              margin: 2rem 0;
            "
          >
            Café Sáng
          </h1>
          <div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
            <div
              style="
                display: inline-block;
                background-color: #ea4335;
                padding: 0.25rem;
                border-radius: 0.25rem;
                margin-bottom: 0.25rem;
                margin-right: 0.25rem;
              "
            >
              <a
                href="https://google.com"
                target="_blank"
                style="color: white; text-decoration: none; font-size: 0.75rem"
              >
                <b>Trend</b>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <table
          style="width: 100%; margin: 0; padding: 0; border-collapse: collapse"
        >
          <caption
            style="
              text-align: center;
              padding: 1rem;
              border-bottom: 1px solid #e6e6e6;
            "
          >
            <h2 style="color: #ea4335; margin: 0 0 0.25rem">Weather</h2>
            <p style="margin: 0">City</p>
          </caption>
          <tbody>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div><b>YYYY-MM-DD</b></div>
                <div>HH:MN</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: center;
                "
              >
                <div><b>Main</b></div>
                <div>Description 0</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <div><b>0°C</b></div>
                <div>0°C</div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div><b>YYYY-MM-DD</b></div>
                <div>HH:MN</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: center;
                "
              >
                <div><b>Main</b></div>
                <div>Description 1</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <div><b>0°C</b></div>
                <div>0°C</div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div><b>YYYY-MM-DD</b></div>
                <div>HH:MN</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: center;
                "
              >
                <div><b>Main</b></div>
                <div>Description 2</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <div><b>0°C</b></div>
                <div>0°C</div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div><b>YYYY-MM-DD</b></div>
                <div>HH:MN</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: center;
                "
              >
                <div><b>Main</b></div>
                <div>Description 3</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <div><b>0°C</b></div>
                <div>0°C</div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div><b>YYYY-MM-DD</b></div>
                <div>HH:MN</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: center;
                "
              >
                <div><b>Main</b></div>
                <div>Description 4</div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <div><b>0°C</b></div>
                <div>0°C</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <table
          style="width: 100%; margin: 0; padding: 0; border-collapse: collapse"
        >
          <caption
            style="
              text-align: center;
              padding: 1rem;
              border-bottom: 1px solid #e6e6e6;
            "
          >
            <h2 style="color: #ea4335; margin: 0 0 0.25rem">CryptoCurrency</h2>
            <p style="margin: 0">Top Coins</p>
          </caption>
          <tbody>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div style="display: flex; align-items: center">
                  <img
                    src="../images/coins/png/btc.png"
                    width="16px"
                    style="margin-right: 16px"
                  />
                  <a href="#" target="_blank" style="text-decoration: none">
                    BTC - Bitcoin
                  </a>
                </div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <b>$1,000.00</b>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div style="display: flex; align-items: center">
                  <img
                    src="../images/coins/png/btc.png"
                    width="16px"
                    style="margin-right: 16px"
                  />
                  <a href="#" target="_blank" style="text-decoration: none">
                    BTC - Bitcoin
                  </a>
                </div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <b>$1,000.00</b>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div style="display: flex; align-items: center">
                  <img
                    src="../images/coins/png/btc.png"
                    width="16px"
                    style="margin-right: 16px"
                  />
                  <a href="#" target="_blank" style="text-decoration: none">
                    BTC - Bitcoin
                  </a>
                </div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <b>$1,000.00</b>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div style="display: flex; align-items: center">
                  <img
                    src="../images/coins/png/btc.png"
                    width="16px"
                    style="margin-right: 16px"
                  />
                  <a href="#" target="_blank" style="text-decoration: none">
                    BTC - Bitcoin
                  </a>
                </div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <b>$1,000.00</b>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                "
              >
                <div style="display: flex; align-items: center">
                  <img
                    src="../images/coins/png/btc.png"
                    width="16px"
                    style="margin-right: 16px"
                  />
                  <a href="#" target="_blank" style="text-decoration: none">
                    BTC - Bitcoin
                  </a>
                </div>
              </td>
              <td
                style="
                  padding: 0.75rem;
                  border-bottom: 1px solid #e6e6e6;
                  width: 33.33%;
                  text-align: right;
                "
              >
                <b>$1,000.00</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <div
          style="
            padding: 1rem 0;
            border-bottom: 1px solid #e6e6e6;
            text-align: center;
          "
        >
          <h2
            style="
              text-align: center;
              color: #ea4335;
              margin: 0 0 0.25rem;
              text-transform: capitalize;
            "
          >
            Business
          </h2>
          <p style="margin: 0">Top Headlines</p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Image"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 1
            </a>
          </h3>
          <p style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Source 1
            </a>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            fringilla, velit nec accumsan viverra, nulla leo porta velit, at
            convallis nulla turpis et felis. Vestibulum neque tellus, dignissim
            ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet molestie enim
            nec mattis. Ut quis massa varius, hendrerit eros ut, sodales ante.
            Fusce.
          </p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Image"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 2
            </a>
          </h3>
          <p style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Source 2
            </a>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            fringilla, velit nec accumsan viverra, nulla leo porta velit, at
            convallis nulla turpis et felis. Vestibulum neque tellus, dignissim
            ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet molestie enim
            nec mattis. Ut quis massa varius, hendrerit eros ut, sodales ante.
            Fusce.
          </p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Image"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 3
            </a>
          </h3>
          <p style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Source 3
            </a>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            fringilla, velit nec accumsan viverra, nulla leo porta velit, at
            convallis nulla turpis et felis. Vestibulum neque tellus, dignissim
            ut auctor eget, tincidunt rhoncus nibh. Aenean aliquet molestie enim
            nec mattis. Ut quis massa varius, hendrerit eros ut, sodales ante.
            Fusce.
          </p>
        </div>
      </div>
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <div
          style="
            padding: 1rem 0;
            border-bottom: 1px solid #e6e6e6;
            text-align: center;
          "
        >
          <h2 style="text-align: center; color: #ea4335; margin: 0 0 0.25rem">
            YouTube
          </h2>
          <p style="margin: 0">Music Trending</p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Thumbnail"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 1
            </a>
          </h3>
          <p>
            <a href="" target="_blank" style="text-decoration: none">
              Channel 1
            </a>
          </p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Thumbnail"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 2
            </a>
          </h3>
          <p>
            <a href="" target="_blank" style="text-decoration: none">
              Channel 2
            </a>
          </p>
        </div>
        <div style="padding: 1rem; border-bottom: 1px solid #e6e6e6">
          <img
            src="https://img.youtube.com/vi/N2u_bTxeGKw/maxresdefault.jpg"
            alt="Thumbnail"
            style="width: 100%; margin-bottom: 0.5rem; border-radius: 0.25rem"
          />
          <h3 style="margin-bottom: 0.5rem">
            <a href="" target="_blank" style="text-decoration: none">
              Title 3
            </a>
          </h3>
          <p>
            <a href="" target="_blank" style="text-decoration: none">
              Channel 3
            </a>
          </p>
        </div>
      </div>
      <div
        style="
          overflow: hidden;
          margin-bottom: 1rem;
          border-radius: 1rem;
          border: 1px solid #e6e6e6;
        "
      >
        <div style="padding: 1rem">
          <h2 style="text-align: center; margin: 1rem 0; color: #ea4335">
            Daily Tarot
          </h2>
        </div>
        <table style="width: 100%; margin-bottom: 1rem">
          <tbody>
            <tr>
              <td style="width: 33.33%; padding: 0 1rem">
                <img
                  src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                  alt="Tarot"
                  style="width: 100%; border-radius: 0.25rem"
                />
              </td>
              <td style="width: 33.33%; padding: 0 1rem">
                <img
                  src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                  alt="Tarot"
                  style="width: 100%; border-radius: 0.25rem"
                />
              </td>
              <td style="width: 33.33%; padding: 0 1rem">
                <img
                  src="https://www.simplytarot.com//wp-content/uploads/2016/10/the-sun.png"
                  alt="Tarot"
                  style="width: 100%; border-radius: 0.25rem"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
